section{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    margin-bottom: 100px
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.flex-conatainer{
    display: flex;
}
.half-width{
    width: 60%;
    
}
.ex-dev{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    width: 40%;
    box-shadow: 10px 10px 10px 10px grey;
}
#web-dev{
    border-left: 10px solid;
    border-color: blue;
}
text{
    text-align: right justify;
}
.padding{
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
}  
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.text-ok{
    text-combine-upright: 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer{
    text-align: center;
    font-weight: bold;
}